## Importing Libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Data Preprocessing and Cleaning

In [3]:
data = pd.read_csv('../input/beijingapi/beijing-air-quality.csv')
data.head()
data.shape

(3261, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3261 entries, 0 to 3260
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3261 non-null   object
 1    pm25   3261 non-null   object
 2    pm10   3261 non-null   object
 3    o3     3261 non-null   object
 4    no2    3261 non-null   object
 5    so2    3261 non-null   object
 6    co     3261 non-null   object
dtypes: object(7)
memory usage: 178.5+ KB

In [5]:
data.describe()

             date  pm25  pm10    o3   no2   so2    co
count        3261  3261  3261  3261  3261  3261  3261
unique       3261   314   231   152    71    56    61
top     2022/12/1   112    54    24    14     1     5
freq            1    32    57    96   147   921   353

In [6]:
data.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

From the visualization, we came to know we donâ€™t have any null values in the data frame.

We have all numerical features no categorical features so there is no need of encoding